.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    /* Dark background */
    color: #f0f0f0;
    /* Light text */
    min-height: 100svh;
    /* min-height: 100svh; */
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.image-container {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
    /* Rounded corners for a sleek look */
    max-height: 95svh;
}

.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Ensures image maintains its aspect ratio */
    transition: transform 0.3s ease;
    /* Smooth zoom on hover */
}

.profile-image:hover {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

.bio-text {
    text-align: center;
    padding: 0 20px;
    max-height: 100vh;
    font-size: 1svh;
}

.bio-text h1 {
    font-size: 5vh;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.bio-text p {
    font-size: 3vh;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: #ccc;
    /* Slightly lighter color for text */
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .bio-text h1 {
        font-size: 1.7rem;
    }

    .bio-text p {
        font-size: 1rem;
    }
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #333;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* Remove underline */
    transition: background 0.3s;
}


.more-info-section {
    margin: 20px;
    /* Space above the section */
    padding: 20px;
    background: #f9f9f9;
    /* Light background for more info */
    border-radius: 5px;
    color: #333;
}

.more-info-section p {
    color: #333;
}

.more-info-section-details strong {
    font-size: smaller;
}

.more-info-close-btn {
    display: none;
}

@media (min-aspect-ratio: 1/1) {
    .main-about {
        flex-direction: row;
    }

    .bio-text {
        flex: 0 0 50%;
    }

    .more-info-close-btn {
        display: inline-block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        transition: background-color 0.3s ease;
    }
}