:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

}

html,
body {
  width: 100svw;
  height: 100svh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222
}