.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}
  
.tile {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex; /* Use flex to center content */
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
}
  
.tile img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 99svh;
    object-fit: contain; /* Ensure the entire image is visible without cropping */
    transition: transform 0.3s ease;
}
  
.small {
    grid-column: span 1;
    grid-row: span 1;
}
  
.medium {
    grid-column: span 2;
    grid-row: span 2;
}
  
.large {
    grid-column: span 3;
    grid-row: span 3;
}
